package components

import (
	"strconv"
	"time"
)

var year string = strconv.Itoa(time.Now().Year())

templ (b BaseConfig) Footer() {
	<aside>
		<p>Copyright © {year} - All rights reserved by FooBar Labs</p>
	</aside>
}
