package components

templ (b BaseConfig) Main() {
	<h1 class="prose text-6xl">{ b.Title }</h1>
	<h2 class="prose text-2xl">Tailwind Test</h2>
	<p class="prose text-sky-500">Is this sky blue?</p>
	<button class="btn btn-primary" script="on click call alert(&#39;You clicked me!&#39;) then log &#39;Clicked!&#39;">Click Me</button>
	<h2>About</h2>
	<p class="prose">All about this...</p>
	<h2>Contact</h2>
	<p>All about contacting us...</p>
}
