package base

templ (c *Config) Header() {
	<div class="navbar bg-base-100">
		<div class="flex-1">
			<a class="btn btn-ghost normal-case text-xl">{ c.Title }</a>
		</div>
		<div class="flex-none">
			<ul class="menu menu-horizontal px-1">
				for _, pair := range c.NavLinks {
					<li><a href={ templ.URL(pair[1]) }>{ pair[0] }</a></li>
				}
			</ul>
		</div>
	</div>
}
