package components

type BaseConfig struct {
	Title    string
	NavLinks [][2]string
}

templ (b BaseConfig) Main() {
	<!DOCTYPE html>
	<html lang="en-us" dir="ltr">
		<head>
			{! b.Head() }
		</head>
		<body>
			<header>
				{! b.Header() }
			</header>
			<main class="">
				{! b.Content() }
			</main>
			<footer class="footer footer-center p-4 bg-base-300 text-base-content">
				{! b.Footer() }
			</footer>
		</body>
	</html>
}
