package base

type Config struct {
	Title    string
	NavLinks [][2]string
}

templ (c *Config) Main() {
	<!DOCTYPE html>
	<html lang="en-us" dir="ltr">
		<head>
			{! c.Head() }
		</head>
		<body>
			<header>
				{! c.Header() }
			</header>
			<main class="">
				{! c.Content() }
			</main>
			<footer class="footer footer-center p-4 bg-base-300 text-base-content">
				{! c.Footer() }
			</footer>
		</body>
	</html>
}
